


body {
    background-image: url(imagens/espaco.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
div#elemento {
    height: 96vh;
    background-image: url(imagens/astronauta.png);
    background-position:center center;
    background-repeat: no-repeat;

   
}